header{
    background-color: rgba(241, 255, 110, 1);
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
footer{
    background-color: rgb(145,145,145);
    font-size: medium;
}
body {
    text-align: center;
    background-color: rgb(130, 168, 224);                        ;
}
