header{
    background-color: rgb(233, 5, 100);
    font-size: medium;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: rgb(49, 70, 151);
    font-size: medium;
}
